
body {
    background-color: #b3d9ff;
    margin-top: 30px;
   
}

#box{
	
	margin-right: 50px;
}

#logout {
    border-radius: 40%;
}

#login {
    height: 200px;
    width: 400px;
    background: black;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}